.page
	header.navbar-header
		transform(translate3D(0,-100%,0))
	.infos
		display none
	.back
		display block
.album
	position absolute
	top 50%
	left 0
	width 100%
	height 600px
	transform(translate3D(0,-50%,0))
	.ajax
		opacity 0
.slider
	width 100%
	height 100%
	.flickity-viewport, .flickity-slider
		height 100%
	.gallery_cell
		height 100%
		width 100%
		text-align center
		.content
			width auto
			height 100%
			margin 0
			padding 0
			margin-left -6px
