@import 'nib'
@import '../../node_modules/jeet/stylus/jeet'
@import '_mixins.styl'
@import './vendor/flickity.min.css'

$desktop = 1100px
$tablet = 900px
$padding = 10px

$primary ?= #fff
$secondary ?= #fff

// CSS Reset
global-reset()
//edit()

webfont('U', 'U', true, 'normal')
webfont('UI', 'UI', true, 'normal')

boxsizing()

body,html
	width 100%
	height 100%
	overflow hidden
	background-color $primary

body
	font-family 'U'
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 23px
	line-height 1.1em
	+below($tablet)
		font-size 17px

p
	margin-bottom 1em

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()

a, a:hover, a:visited, a:focus
	color inherit
	font-family 'UI'
	text-decoration none
	cursor pointer

[data-target], [data-target]:visited, [data-target]:hover, [data-target]:focus
	font-family 'U'

.wrap
	height 100%
	span(1)

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 10000

.container
	height 100%

header.main_menu
	padding $padding
	position fixed
	width 100%
	top 0
	left 0
	mix-blend-mode difference
	color #fff
	z-index 1000
	transition(transform,800ms)
	ul.category
		span(1/2)
		+below($tablet)
			stack()
	ul.albums
		margin-left 1.5em
		+below($tablet)
			display none
		
.btn_infos, .btn_back
	position absolute
	bottom $padding
	left $padding
	z-index 3000

.btn_back
	display none

#infos
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background $primary
	padding $padding
	z-index 2000
	display none
	.content
		span(1/2)
		margin-left 1.5em
		margin-top 0
		+below($tablet)
			span(1)
			padding-left 1.5em

.flickity-enabled.is-draggable .flickity-viewport, .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down
	cursor default

@import 'home.styl'
@import 'page.styl'