@import 'nib'
@import '../../node_modules/jeet/stylus/jeet'
@import '_mixins.styl'
@import './vendor/flickity.min.css'

$desktop = 1100px
$tablet = 900px
$padding = 30px

$primary ?= #fff

// CSS Reset
global-reset()
//edit()

webfont('AG', 'AG', true, 'normal')

boxsizing()

body,html
	width 100%
	height 100%
	overflow hidden
	background-color $primary

body
	font-family 'AG'
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 23px
	line-height 1.1em
	+below($tablet)
		font-size 17px

p
	margin-bottom 1em

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

[data-target], [data-target]:visited, [data-target]:hover, [data-target]:focus
	font-family 'AG'

.columns
	margin-right -2rem
	
.column
	display inline-block
	vertical-align top
	padding-right 2rem
	
.columns-1 .column
	width 100%
	
.columns-2 .column
	width 50%
	
.columns-3 .column
	width 33.33%
	
.columns-4 .column
	width 25%
	
.columns-5 .column
	width 20%

.wrap
	height 100%
	span(1)
	padding $padding

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 10000

.container
	height 100%

header.main_menu
	position fixed
	bottom $padding
	left $padding
	z-index 1000
	ul .category
		transition(letter-spacing,300ms)
		letter-spacing 0
		cursor pointer
	ul .category:hover, ul .category.active
		letter-spacing .1em
		
.about
	position fixed
	top $padding
	left $padding
	z-index 1000

.btn_back
	display none

#infos
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background $primary
	padding $padding
	z-index 2000
	display none
	.content
		span(1/2)
		margin-left 1.5em
		margin-top 0
		+below($tablet)
			span(1)
			padding-left 1.5em