@import 'nib'
@import '../../node_modules/jeet/stylus/jeet'
@import '_mixins.styl'

$desktop = 1100px
$tablet = 900px
$padding = 30px
$paddingmobile = 20px

$primary ?= #FFF
$font ?= 'H', 'Helvetica', 'Arial', sans-serif

// CSS Reset
global-reset()
//edit()

webfont('H', 'H', true, 'normal')
webfont('AG', 'AG', true, 'normal')

boxsizing()

::-webkit-scrollbar
	display none

body,html
	width 100%
	height 100%
	background-color $primary

body
	font-family $font
	text-rendering optimizeLegibility
	font-smoothing()
	font-size 14px
	line-height 1.1em
	font-weight 400
	text-transform uppercase
	+below($tablet)
		font-size 12px

p
	margin-bottom 1em

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

[data-target], [data-target]:visited, [data-target]:hover, [data-target]:focus
	font-family $font

//[data-target]
	//transition(letter-spacing,300ms)
	//letter-spacing 0

//[data-target]:hover
	//letter-spacing .1em
	// background url("../images/dot.png") no-repeat left 40%
	// background-size 5px
	// padding-left 10px

.columns
	span(1)
	
.column
	col(1)
	
.columns-1 .column
	col(1)
	
.columns-2 .column
	col(1/2, cycle:2)
	
.columns-3 .column
	col(1/3, cycle:3)
	
.columns-4 .column
	col(1/4, cycle:4)
	
.columns-5 .column
	col(1/5, cycle:5)

.column, .columns-1 .column, .columns-2 .column, .columns-3 .column, .columns-4 .column, .columns-5 .column
	+below($desktop)
		stack()

.wrap
	height 100%
	span(1)
	//padding $padding

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 10000

.container
	height 100%

.overlay
	transition(opacity)
	opacity 1
	visibility visible
	width 100%
	height 100%
	position fixed
	background $primary
	top 0
	left 0
	z-index 1000
	cursor pointer
	.back-btn
		position fixed
		top $padding
		left $padding
		z-index 4000

.overlay.hidden
	opacity 0
	visibility hidden

img.lazyimg
	transition()

img.lazyimg
	opacity 0

img.lazyimg.lazyloaded
	opacity 1

header#main_menu
	position fixed
	bottom $padding
	left $padding
	z-index 1000
	-webkit-backface-visibility hidden
	backface-visibility hidden
	+below($tablet)
		display none
	ul .category
		cursor pointer
		//transition(letter-spacing,300ms)
		//letter-spacing 0
	ul .category:hover::after, ul .category.active::after
		//letter-spacing .1em
		content ''
		display inline-block
		width 10px
		height 10px
		background url("../images/dot.png") no-repeat right 47%
		background-size 5px
		//padding-left 10px

#about
	position fixed
	top $padding
	left $padding
	z-index 1000
	-webkit-backface-visibility hidden
	backface-visibility hidden
	+below($tablet)
		top $paddingmobile
		left $paddingmobile

#main_title
	transition(width)
	width 100%
	text-align center
	position fixed
	top 50%
	margin-top -1em
	pointer-events none
	z-index 1000
	font-family 'AG'
	text-transform none
	-webkit-backface-visibility hidden
	backface-visibility hidden
	+below($tablet)
		position absolute
	h1
		transition(font-size)
		font-size 7vw
		z-index 8000
		cursor pointer
		+below($tablet)
			font-size 14vw

.projects
	transition(width)
	span(1)
	//flexbox()
	//justify-content space-between
	//flex-wrap wrap
	min-height 200vh
	+above($tablet)
		margin-bottom 50vh
	.offset
		height 100vh
		width 100%
		cursor pointer
	.mouse_nav
		position absolute
		height 100px
		margin-top -45px
		pointer-events none
		flexbox()
		align-items center
		z-index 100
		+below($desktop)
			display none
	.wrap
		.project
			pointer-events none
			position relative
			float left
			width 25%
			height 25vw
			margin 10% 0
			transform-origin center
			vendor(filter,blur(0px))
			-webkit-backface-visibility hidden
			backface-visibility hidden
			+below($tablet)
				width 100%
				height auto
				padding $paddingmobile
			a
				pointer-events auto
			.project-img
				pointer-events auto
				transition(background)
				background transparent
				position absolute
				width 50%
				height auto
				+below($tablet)
					position initial
					width 100%
					transform(none)
		.project:last-child
			margin 0
		.project:hover
			z-index 10
		.project.hidden
			a
				cursor default
		.project.active
			+above($tablet)
				.project-img
					background #000000
					img
						opacity 0

.content
	transition(left)
	span(1/2)
	position fixed
	left 100%
	height 100vh
	overflow scroll
	-webkit-overflow-scrolling touch
	z-index 1000
	background $primary
	+below($tablet)
		span(1)
	.back-btn
		position fixed
		bottom $paddingmobile
		left $paddingmobile
		z-index 4000
		+above($tablet)
			display none
	.inner
		padding $padding
		overflow-y scroll
		+below($tablet)
			padding $paddingmobile
	.page_title
		position fixed
		top $padding
		left 'calc(50% + %s)' % ($padding)
		z-index 4000
		+below($tablet)
			top $paddingmobile
			left $paddingmobile
	.page_content
		text-transform none
		margin-top ($padding * 2)
	h1
		text-transform uppercase
	h1, p, .oembed
		margin-bottom $padding
	img
		width 100%
	img.lazyimg
		opacity 0.3
		vendor(filter, blur(5px))
	img.lazyimg.lazyloaded
		opacity 1
		vendor(filter, blur(0px))
		
.content::before
	transition(left)
	content ''
	background: #000000
	width 1px
	//height 'calc(100% - %s * 2)' % ($padding)
	height 100%
	position fixed
	//top $padding
	top 0
	left 100%

body.page
	#about, .overlay
		+below($tablet)
			display none
	#main_title
		display none
		+above($tablet)
			display block
			width 50%
			h1
				font-size 6vw
	.projects
		display none
		+above($tablet)
			display block
			span(1/2)
		.project
			+above($tablet)
				width 50%
				margin 15% 0
	.content
		left 50%
		+below($tablet)
			position initial
			left 0
			height auto
	.content::before
		left 50%
		+below($tablet)
			left -1px

#about-page
	.left, .right
		span(1/2)
	.right
		height 'calc(100vh - %s * 2)' % ($padding)
		flexbox()
		flex-direction column
		justify-content space-between
	.right::before, .right::after
		content none
	.subtitle
		margin-bottom 1em
		flowing-paragraph(1em)
		p
			margin-bottom 0
	.page_link
		margin-left 1em
	.clients_content
		margin-left 1em
	.copyright
		font-size .5rem
		line-height 1.1em
		p
			margin-bottom 0