.intro
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	background-color #000000
	cursor pointer
	overflow hidden
	transition(height,1s)
	z-index 6000
	+below($tablet)
		display none
	.left, .right
		span(1/2)
		position absolute
		top 0
		height 100vh
		background-size cover
		background-position center
	.left
		left 0
	.right
		right 0
	.invert
		vendor(filter,invert(1))
		opacity 0.5
		z-index 10
	.difference
		z-index 20
	.difference:hover
		mix-blend-mode difference

.intro.closed
	height 0

.slider
	align(vertical)
	width 100%
	height 74%
	overflow hidden
	//transition(all,800ms)
	+below($tablet)
		height 80%
	.flickity-viewport, .flickity-slider
		height 100%
	.gallery_cell
		height 100%
		width 100%
		flexbox()
		align-items center
		justify-content center
		.content
			width auto
			height 100%
			margin 0
			padding 0
			+below($tablet)
				width 90%
				height auto
				max-width 100%
				max-height 100%
		.content:nth-child(n+1)
			margin-left -1px
		.description
			display inline-block
			text-align left
			font-size 65%
			line-height 1.1em
			width 33%
			+below($tablet)
				width 70%
	.caption
		span(1)
		position absolute
		bottom -15px
		text-align center
		transform(translateY(100%))
		font-size 50%
		line-height 1.1em
		+below($tablet)
			display none
			
	.hidden
		display none

.slider.hover
	+below($desktop)
		display none