.intro
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	background-color #FFFFFF
	cursor pointer
	overflow hidden
	transition(height,1s)
	z-index 6000
	.left, .right
		span(1/2)
		height 100vh
		background-size cover
		background-position center
	.left:hover, .right:hover
		vendor(filter,invert(1))

.intro.closed
	height 0

.slider
	position absolute
	bottom 0px
	width 100%
	height 79%
	transition(bottom,800ms)
	.flickity-viewport, .flickity-slider
		height 100%
	.gallery_cell
		height 100%
		width 100%
		text-align center
		.content
			width auto
			height 100%
			margin 0
			padding 0
			margin-left -5px
	.hidden
		display none