.page
	header.main_menu
		transform(translate3D(0,-100%,0))
	.infos
		display none
	.back
		display block
	.slider
		bottom 11%
		.flickity-viewport, .flickity-slider
			height 100%
		.gallery_cell
			height 100%
			width 100%
			text-align center
			.content
				width auto
				height 100%
				margin 0
				padding 0
				margin-left -6px
