.album-navigation
	display none
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 500
	cursor none
	mix-blend-mode difference
	.mouse_nav
		position absolute
		width 100px
		height 100px
		margin -50px 0 0 -50px
		pointer-events none
		flexbox()
		align-items center
		justify-content center
	.mouse_nav::before
		content ''
		color $primary
	.prev, .next
		span(1/2)
		height 100%
	.prev:hover ~ .mouse_nav::before
		content 'Prev'
	.next:hover ~ .mouse_nav::before
		content 'Next'

.album
	.album-navigation
		display block
		+below($desktop)
			display none
	.intro
		display none
	header.main_menu
		transform(translate3D(0,-100%,0))
	.btn_infos
		display none
	.btn_back
		display block

.album.loading
	.album-navigation
		.left, right
			display none
	.album-navigation .mouse_nav::before
		content 'Loading'

.infos
	.intro
		display none
	#infos, .btn_back
		display block
	.btn_infos
		display none
